<!-- recommended projects -->
<div class='mui-card -white-bg _shadow-1 _separate-1'>
    <div class='header _text-left'>
        <h2 class='_bigger-1 _padding-lr-1'>Projects</h2>
    </div>
    <div class='content'>
        <div class='mui-row _padding-lr-1' itemscope itemtype='https://schema.org/CreativeWork'>
            <div class='mui-column -s12 -m4 _separate-1'>
                <img class='mui-image -rounded -js-lazy-load' data-src='/images/c6318886573b85803796c7db04871871.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='Muilessium preview' itemprop='thumbnailUrl'>
                <noscript>
                    <img class='mui-image -rounded' src='/images/c6318886573b85803796c7db04871871.jpg' alt='Muilessium preview' itemprop='thumbnailUrl'>
                </noscript>
            </div>
            <div class='mui-column -s12 -m8 _separate-1 _padding-lr-1'>
                <a href='https://github.com/sfi0zy/muilessium' itemprop='url'>
                    <h3 class='_bigger-1' itemprop='name'>Muilessium</h3>
                </a>
                <div class='mui-row -grey-4 _smaller-1'>
                    <div class='-grey-4'>
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--star'></use>
                        </svg>
                        <span>9</span>&nbsp;
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--fork'></use>
                        </svg>
                        <span>2</span>&nbsp;
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--archive'></use>
                        </svg>
                        <span>10k+</span>
                    </div>
                    <p itemprop='description'>Simple UI framework. RSCSS, REM-based sizes, fluid typography and other nice ideas. This website is powered by it.</p>
                </div>
            </div>
        </div>
        <div class='mui-row _padding-lr-1' itemscope itemtype='https://schema.org/CreativeWork'>
            <div class='mui-column -s12 -m4 _separate-1'>
                <img class='mui-image -rounded -js-lazy-load' data-src='/images/4624e920caf44cd5aa02302ba608efef.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='Ucavatar preview' itemprop='thumbnailUrl'>
                <noscript>
                    <img class='mui-image -rounded' src='/images/4624e920caf44cd5aa02302ba608efef.jpg' alt='Ucavatar preview' itemprop='thumbnailUrl'>
                </noscript>
            </div>
            <div class='mui-column -s12 -m8 _separate-1 _padding-lr-1'>
                <a href='https://github.com/sfi0zy/ucavatar' itemprop='url'>
                    <h3 class='_bigger-1' itemprop='name'>Ucavatar</h3>
                </a>
                <div class='mui-row -grey-4 _smaller-1'>
                    <div class='-grey-4'>
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--star'></use>
                        </svg>
                        <span>13</span>&nbsp;
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--archive'></use>
                        </svg>
                        <span>500+</span>
                    </div>
                    <p itemprop='description'>Unique avatars for your users. No dependencies, VanillaJS, 1.6KB gzipped.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /recommended projects -->

<!-- useful things -->
<div class='mui-card -white-bg _shadow-1 _separate-1'>
    <div class='header _text-left'>
        <h2 class='_bigger-1 _padding-lr-1'>Useful things</h2>
    </div>
    <div class='content'>
        <div class='mui-row _padding-lr-1' itemscope itemtype='https://schema.org/CreativeWork'>
            <div class='mui-column -s12 -m4 _separate-1'>
                <img class='mui-image -rounded -js-lazy-load' data-src='/images/ac78ddbe66bec1051f189d2a3e3a62b5.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='Atlantic-dark scheme preview' itemprop='thumbnailUrl'>
                <noscript>
                    <img class='mui-image -rounded' src='/images/ac78ddbe66bec1051f189d2a3e3a62b5.jpg' alt='Atlantic-dark scheme preview' itemprop='thumbnailUrl'>
                </noscript>
            </div>
            <div class='mui-column -s12 -m8 _separate-1 _padding-lr-1'>
                <a href='https://github.com/sfi0zy/atlantic-dark' itemprop='url'>
                    <h3 class='_bigger-1' itemprop='name'>Atlantic-dark</h3>
                </a>
                <div class='mui-row -grey-4 _smaller-1'>
                    <div class='-grey-4'>
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--star'></use>
                        </svg>
                        <span>3</span>&nbsp;
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--fork'></use>
                        </svg>
                        <span>2</span>&nbsp;
                    </div>
                    <p itemprop='description'>Dark color scheme for Vim. Mostly blue and green colors.</p>
                </div>
            </div>
        </div>

        <div class='mui-row _padding-lr-1' itemscope itemtype='https://schema.org/CreativeWork'>
            <div class='mui-column -s12 -m4 _separate-1'>
                <img class='mui-image -rounded -js-lazy-load' data-src='/images/64c4ceaff49e40d7975df0cd0125696c.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='html-template thumb' itemprop='thumbnailUrl'>
                <noscript>
                    <img class='mui-image -rounded' src='/images/64c4ceaff49e40d7975df0cd0125696c.jpg' alt='html-template thumb' itemprop='thumbnailUrl'>
                </noscript>
            </div>
            <div class='mui-column -s12 -m8 _separate-1 _padding-lr-1'>
                <a href='https://github.com/sfi0zy/html-template' itemprop='url'>
                    <h3 class='_bigger-1' itemprop='name'>HTML template</h3>
                </a>
                <div class='mui-row -grey-4 _smaller-1'>
                    <div class='-grey-4'>
                        <svg class='mui-svg-icon -grey-4'>
                            <use xlink:href='#mui-svg-icon--star'></use>
                        </svg>
                        <span>2</span>&nbsp;
                    </div>
                    <p itemprop='description'>Minimal HTML template (Pug, LESS, PostCSS, Babel, Gulp, Webpack, BrowserSync).</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /useful things -->

